# Generated code
generated/

# Smithy build output (intermediate JSON AST)
build/

# Erlang build
_build/
.rebar3/
*.beam
erl_crash.dump

# ignore copied files
model/aws-s3-client.smithy
src/aws_sigv4.erl
test/aws_sigv4_test.erl
